<h1><%= @user.to_s %></h1>

<% @user.favorites.each do |favorite|%>
    <ul>
        <li>
            <%= link_to favorite.location.state, location_path(favorite.location.id) %>
        </li>
    </ul>
<% end %>