<h1> States Index Page </h1>


<% @currentstates = @arrayOfCurrentStates.map{|state| state["state"]} %>

<% @currentstates.each do |state| %>
    <ul>
        <li>
            <%= link_to state, location_path(state) %>
        </li>
    </ul>
<% end %>