<div class="index_container">
<h1 class="Welcome-message">States</h1>

<div class="states_all">
<% @locations.each do |location| %>
    <ul>
        <li>
            <%= link_to location.state, location_path(location) %>
        </li>
    </ul>
<% end %>

</div>

 

